.nice.form-gap {
    padding-top: 70px;
}

.nice {
    background-image: url('https://images.pexels.com/photos/3278215/pexels-photo-3278215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set the height to 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }