.userAccountcss .user-card-full {
    overflow: hidden;
}

.userAccountcss .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
    margin-top: 30px;
}

.userAccountcss .m-r-0 {
    margin-right: 0px;
}

.userAccountcss .m-l-0 {
    margin-left: 0px;
}

.userAccountcss .user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.userAccountcss .bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #7c5b60, #e3b39b);
}

.userAccountcss .user-profile {
    padding: 20px 0;
}

.userAccountcss .card-block {
    padding: 1.25rem;
}

.userAccountcss .m-b-25 {
    margin-bottom: 25px;
}

.userAccountcss .img-radius {
    border-radius: 5px;
}

.userAccountcss h6 {
    font-size: 14px;
}

.userAccountcss .card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    .userAccountcss p {
        font-size: 14px;
    }
}

.userAccountcss .card-block {
    padding: 1.25rem;
}

.userAccountcss .b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.userAccountcss .m-b-20 {
    margin-bottom: 20px;
}

.userAccountcss .p-b-5 {
    padding-bottom: 5px !important;
}

.userAccountcss .card .card-block p {
    line-height: 25px;
}

.userAccountcss .m-b-10 {
    margin-bottom: 10px;
}

.userAccountcss .text-muted {
    color: #919aa3 !important;
}

.userAccountcss .b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.userAccountcss .f-w-600 {
    font-weight: 600;
}

.userAccountcss .m-b-20 {
    margin-bottom: 20px;
}

.userAccountcss .m-t-40 {
    margin-top: 20px;
}

.userAccountcss .p-b-5 {
    padding-bottom: 5px !important;
}

.userAccountcss .m-b-10 {
    margin-bottom: 10px;
}

.userAccountcss .m-t-40 {
    margin-top: 20px;
}

.userAccountcss .user-card-full .social-link li {
    display: inline-block;
}

.userAccountcss .user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #787273;
    margin-left: 10px;
}

.userAccountcss {
    background-image: url('https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=740&t=st=1696888281~exp=1696888881~hmac=38b123ed8c9273f47c2ebbe0870d70e6566512de252cb274ebe312af3ad558e6');
    background-size: cover;
    background-position: center;

    justify-content: center;
    align-items: center;
}

.carditemsss .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
}

.carditemsss .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #a23737;
    color: #fff;
}