.baratert .alert {
    position: fixed;
    top: 0;
    right: 0;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    transition: opacity 0.5s;
    margin-top: 82px;
    width: 400px;
    text-align: center;
    font-size: large;
    letter-spacing: 2px;
}

.baratert .alert.hidden {
    opacity: 0;
}